VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=minhaj-1be6f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=minhaj-1be6f
VITE_FIREBASE_STORAGE_BUCKET=minhaj-1be6f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=780231348130
VITE_FIREBASE_APP_ID=1:780231348130:web:cafdef92ee081e12b02cfb
VITE_API_BASE_URL=
